language: node_js

# workaround for obsolete `temp` module 0.6
env:
  global:
    - TMPDIR=/tmp

node_js:
 - "0.10"
 - "0.12"
 - "4"

sudo: false

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

env:
  global:
    - CXX=g++-4.8
  matrix:
    - NODE_ENV=test DB=memory
    - NODE_ENV=test DB=mysql

before_install:
  - npm install -g npm@2
  - npm config set spin false

script:
  - if [ $DB == "mysql" ]; then ./scripts/start-travis-auth-db-mysql.sh; fi
  - npm test
  - grunt nsp --force
