language: node_js

# workaround for obsolete `temp` module 0.6
env:
  global:
    - TMPDIR=/tmp

node_js:
 - "0.10"

sudo: false

services:
  - mysql

env:
  - NODE_ENV=test DB=memory
  - NODE_ENV=test DB=mysql

notifications:
  email:
    - zcarter@mozilla.com
    - dcoates@mozilla.com
    - jbonacci@mozilla.com
    - rfkelly@mozilla.com
    - jrgm@mozilla.com
  irc:
    channels:
      - "irc.mozilla.org#fxa-bots"
    use_notice: false
    skip_join: false

before_install:
  - npm install -g npm@2
  - npm config set spin false

install: 
  - npm install
  - if [ $DB == "mysql" ]; then (cd node_modules/fxa-auth-db-mysql && npm install); fi

# &>/dev/null
script:
  - date
  - if [ $DB == "mysql" ]; then ./scripts/start-travis-auth-db-mysql.sh; fi
  - date
  - sleep 5
  - date
  - curl http://127.0.0.1:8000/ || echo oops
  - npm test
  - grunt nsp --force
